.visual-helloD3BC56C2A4E3C6403FBF5158A155A73EF7_DEBUG ellipse {
  fill: lightyellow;
  stroke: darkblue;
  stroke-width: 4;
}
.visual-helloD3BC56C2A4E3C6403FBF5158A155A73EF7_DEBUG text {
  text-anchor: middle;
  dominant-baseline: central;
  fill: red;
  stroke: darkblue;
  stroke-width: 3;
}
